<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".IumrahApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="iumrah Beta"
        android:supportsRtl="true"
        android:theme="@style/Theme.Iumrah">
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity-alias android:name=".LauncherStandard" android:enabled="true" android:exported="true" android:icon="@mipmap/ic_launcher" android:label="iumrah" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity-alias>
        <activity-alias android:name=".LauncherBlue" android:enabled="false" android:exported="true" android:icon="@drawable/iumrah_icon_blue_preview" android:label="iumrah" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity-alias>
        <activity-alias android:name=".LauncherCyan" android:enabled="false" android:exported="true" android:icon="@drawable/iumrah_icon_cyan_preview" android:label="iumrah" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity-alias>
        <activity-alias android:name=".LauncherDeep" android:enabled="false" android:exported="true" android:icon="@drawable/iumrah_icon_deep_preview" android:label="iumrah" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity-alias>
        <activity-alias android:name=".LauncherWorld" android:enabled="false" android:exported="true" android:icon="@drawable/iumrah_icon_world_preview" android:label="iumrah" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity-alias>
        <activity-alias android:name=".LauncherMakkah" android:enabled="false" android:exported="true" android:icon="@drawable/iumrah_icon_makkah_preview" android:label="iumrah" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity-alias>
        <receiver
            android:name=".ui.planning.UmrahPlanReminderReceiver"
            android:exported="false" />
    </application>
</manifest>
